 body {
    font-family: 'Work Sans', sans-serif;
}

/* !HEADER */
.header {
    background: #F3C6BD;
    padding: 41px 0 71px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-right: 15px;
}

.logo__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header__ul {
    margin-right: 77px;
}

.header__li:not(:last-of-type) {
    margin-right: 30px;
}

.header__link {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}
.header__link:hover {
    font-weight: bold;
}

.header__li a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:#000;
    bottom: -15px;
}

.header__button {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.header__button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}


/* !MAIN */
.main {
    background: #F3C6BD;
    padding: 71px 0 85px;
    position: relative;
}

.main__title {
    /* position: absolute;
    top: 60px; */
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    padding-bottom: 34px;
}

.main__text {
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 58px;
}

.main__button {
    display: flex;
    gap: 38px;
}

.main__button-blue {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.main__button-blue:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}

.main__button-white {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    font-weight: 700;
}
.main__button-white:hover {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #f3f2f2;
    cursor: pointer;
    transition: 1s;
}

.main__img {
    position: absolute;
    padding-bottom: 85px;
    right: 25px;
    bottom: -55px;
}



/* !WHAT & WHO */
.what__who {
    background: #F4F5F7;
    padding-top: 77px;
}

.ww__box {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 76px;
}

.what__who-box {
    max-width: 555px;
    height: 102px;
}

.what__who-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.what__who-text {
    font-size: 22px;
    line-height: 32px;
}

.logo__com {
    background-color: #ffffff;
}

.brands {
    padding: 30px 0 106px;
}



/* !FEATURES */
.features {
    position: relative;
    margin-bottom: 100px;
}

.features__left {
    width: 100%;
}

.features__subtitele {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    padding-bottom: 24px;
}

.features__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-bottom: 30px;
}

.features__text {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 42px;
}

/* jQuery-menu */
.features__box {
    max-width: 450px;
    border-bottom: 2px solid #cecdcf;
    margin-bottom: 20px;
}
.features__box-border {
    border-bottom: 3px solid #3040C4;
}

.features__item-box {
    display: flex;
    padding-bottom: 8px;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.features__item-box:hover {
    cursor: pointer;
}

.features__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 15px;
}

.features__item-text {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
    display: none;
}

.features_leftpic {
    position: absolute;
    bottom: 128px;
    left: 0;
}

.change__color-title {
    color: #3142C6;
    transition: 300;
}



/* !TEAM INBOX */
.team {
    background: #FCF0E3;
    margin: 0 auto;
}

.team_image {
    padding: 140px 0 140px;
}

.team_info {
    padding-left: 232px;
}

.team_box {
    width: 460px;
}

.team_subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #F1592B;
    padding-bottom: 26px;
}

.team_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-bottom: 26px;
}

.team_text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    padding-bottom: 44px;
}

.team_article {
    width: 460px;
    background: #FFFFFF;
    padding: 30px;
    border-bottom: 4px solid #0185D0;
}

.team_article-text {
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 28px;
}
.team_article-span {
    font-weight: 700;
}

.team_article-human {
    display: flex;
}

.team_article-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
    padding-left: 11px;

}

.team_article-work {
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.hr {
    border: 2px solid #182bcf;
    margin: 0 auto;

}



/* !COMMUNICATE BETTER */
.communicate {
    margin: 0 auto;
}

.comm_div {
    padding: 110px 0;
}

.comm_div-text {
    width: 460px;
}

.comm_subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189D1;
    padding-bottom: 24px;
}

.comm_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-bottom: 30px;
}

.comm_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 30px;
}

.comm_button {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 120px;

}
.comm_button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}

.comm_div-img {
    padding-bottom: 105px;
}

.comm_div-column {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.comm_col-box {
    width: 360px;
}

.comm_text-col {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
}

.comm_span {
    font-weight: 700;
}

.comm_text-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}



/* !ENGAGE VISITORS */
.engage {
    background: #EDF8FB;
    margin: 0 auto;
}

.engage_box {
    padding: 108px 0 110px;
}

.engage_textbox {
    width: 555px;
}

.engage_subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 24px;
}

.engage_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: center;
    padding-bottom: 30px;
}

.engage_text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 34px;
}

.engage_button {
    display: flex;
    justify-content: center;
    padding-bottom: 111px;
    gap: 10px;
}

.engage_button_blue {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}
.engage_button_blue:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}

.engage_button_white {
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    font-weight: 700;
}
.engage_button_white:hover {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #f3f2f2;
    cursor: pointer;
    transition: 2s;
}

/* Engage Img-Box */
.engage_grid {
    display: grid;
    grid-template-columns: repeat(4, 262px);
    gap: 30px;
}

.engage_imgbox {
    padding: 22px 0;
    border-radius: 10px;
    background: #FFFFFF;
    text-align: center;
}
.engage_imgbox:hover {
    background: #3141C5;
    color: #FFFFFF;
    cursor: pointer;
    transition: 600ms;
}


/* !TRUSTED BY */
.trusted{
    margin: 0 auto;
    position: relative;
}

.trusted_content {
    padding-bottom: 106px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.trusted_title {
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
    padding-bottom: 28px;
}

.trusted_text {
    width: 750px;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 34px;
}

.trusted_name {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.trusted_work {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
}

.trusted_rightpic {
    position: absolute;
    right: 20px;
    bottom: 0;
}



/* !WE'RE HIRING */
.hiring {
    background: #F2F2F2;
    margin: 0 auto;
}

.hiring__div {
    width: 750px;
    padding: 100px 0 90px;
}

.hiring__textbox {
    width: 555px;
    text-align: center;
    margin: 0 auto;
}

.hiring__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    padding-bottom: 20px;

}

.hiring__text {
    width: 555px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    padding-bottom: 28px;
}

.hiring__button {
    width: 250px;
    height: 50px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 0;
    margin-bottom: 64px;
}
.hiring__button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}
/* Form+Content */
.hiring__prof {
    max-width: 750px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 2px solid gray;
    border-radius: 8px;
}

.hiring__prof-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.hiring__prof-text {
    margin-top: 3px;
    max-width: 410px;
    font-size: 18px;
    line-height: 26px;
    display: none;
}

.hiring__icon-rotate {
    transform: rotate(90deg);
    transition: 300;
}

.change__color {
    color: #FFFFFF;
    background-color: #3141c5;
    border: 2px solid #3141c5;
    transition: 300;
}




/* !ALL SURFACES COVERED */
.covered {
    margin: 90px 0 90px;
}

.div_gallery {
    max-width: 600px;
    margin: 0 auto;
}

.title_gallery {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    padding-bottom: 26px;
}

.text_gallery {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    padding-bottom: 96px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.grid_img:nth-child(1), 
.grid_img:nth-child(2), 
.grid_img:nth-child(3),
.grid_img:nth-child(4),
.grid_img:nth-child(5),
.grid_img:nth-child(6) {
    grid-column: span 1;
}

.grid_img:nth-child(3),
.grid_img:nth-child(4) {
    grid-row: span 2;
}


/* !START YOUR FRE TRIAL */
.start {
    background: #F2F2F2;
    margin: 0 auto;
}

.start__div {
    padding: 72px 0 72px;
}

.start__div-image {
    
}

.container__image-window {
    
}

.start_textbox {
    width: 555px;
}

.start_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    padding-bottom: 12px;
}

.start_text {
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    padding-bottom: 26px;
}

.start_formbut {
    padding-bottom: 10px;
}

.start_input {
    width: 360px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #2B292D;
    padding-left: 15px;
    
}

.start_button {
    width: 160px;
    height: 50px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 10px;
}
.start_button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #0d1ca3;
    cursor: pointer;
    transition: 2s;
}

.start_text-term {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.start_span {
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #3142C6;
    cursor: pointer;
}



/* !FOOTER */
.footer {
    background: #FFFFFF;
    margin: 0 auto;
}

.footer__top {
    padding-top: 90px;
}

.footer__about {
    display: flex;
}

.footer__div-logo {
    width: 360px;
    margin-bottom: 60px;
}

.footer__prodcom {
    padding-left: 126px;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__products {
    display: flex;
    gap: 30px;
    margin-top: 12px;
}

.footer__text {
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    padding: 26px 0;
}

.footer__apps {
    cursor: pointer;
}

.footer__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 18px;
}

.footer__ul-prod {
    width: 265px;
}

.footer_li-text {
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer__ul-company {
    width: 265px;
}

.footer__line {
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
}
/* Sociallinks & More */
.footer__bottom {
    padding: 13px 0 15px;
}

.footer__policy {
    display: flex;
    justify-content: left;
    width: 200px;
    gap: 20px;
    cursor: pointer;
}

.footer__social {
    display: flex;
    justify-content: right;
    width: 200px;
    gap: 20px;
    cursor: pointer;
}




/* ?МОДАЛЬНЕ ВІКНО */
.modal__overlay {
    display: none;
    position: fixed;
    margin-bottom: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    max-width: 550px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal__text {
    font-size: 25px;
    font-family: 'Roboto', inherit;
}





/* Адаптація на екрани
1440px
1200px
1090px
800px
550px
480px
360px
320px

Контейнер повинен бути меншим на 50px за наступний екран
Приклад: 1090 - контейнер 800-50=750px
        480px - контейнер 360-50=310px*/



@media screen and (max-width: 1200px){
    .container {
        max-width: 1040px;
    }
    
    .header_ul {
        margin-right: 1050px;
    } 
}

@media screen and (max-width: 1090px) {
    /* HEADER */
    .container {
        max-width: 750px;
    }
    .logo-text {
        display: none;
    }
    .header_nav {
        display: none;
    }
    .flex__inbox-column {
        flex-direction: column-reverse;
    }

    /* MAIN */
    .main_button {
        display: none;
    }

    /* TEAM RIGHT */
    .team {
        padding: 56px 0 69px;
    }
    .team_info {
        text-align: center;
    }
    .team_title {
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }
    .team_text {
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }
    .team_article {
        margin: 0 auto 75px;
        text-align: start;
    }
    /* ALL SURFACE COVERED */
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px;
    }
    .grid_img:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .grid_img:nth-child(4) {
        grid-row: 2/4;
    }
    .grid_img:nth-child(2) {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .grid_img:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* HEADER */
    .container {
        max-width: 500px;
    }
    .header {
        padding: 25px 0;
    }
    .team {
        padding: 40px 0;
    }
    .team_article {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px) {
    /* HEADER */
    .container {
        max-width: 430px;
    }
    .team_subtitle {
        margin-bottom: 20px;
    }
    .team_title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width: 480px) {
    /* HEADER */
    .container {
        max-width: 310px;
    }
    .team_image-img {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    /* HEADER */
    .container {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    /* HEADER */
    .container {
        max-width: 290px;
    }
    .header{
        background-color: #FFFFFF;
        padding: 8px 0;
    }
    .logo img{
        margin-right: 13px;
    }
    /* TEAM INBOX */
    .team {
        padding: 50px 0 48px;
    }
    .team_image {
        margin-bottom: 32px;
    }
    .flex_inbox-column {
        flex-direction: column;
    }
    .team_info {
        text-align: start;
    }
    .team_subtitle {
        margin-bottom: 17px;
    }
    .team_title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }
    .team_text {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }
    /* Article Inside */
    .team_article {
        padding: 30px 20px;
    }
    /* ALL SURFACE COVERED */
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }
    .grid_img:nth-child(2) {
        display: none;
    }
    .grid_img:nth-child(3) {
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .grid_img:nth-child(4) {
        grid-row: 2/4;
    }
}